[submodule "themes/cleanwhite"]
	path = themes/cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite
[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether
